/* ------------- COLORS ------------------

#3F3F3F charcoal
#515151 grey 2-light
#7D7D7D grey-3 light
#B1B1B1 grey 4-light
#F7F7F7 grey-5 light

#0A6266 ocean
#6C9D0E lime
#0C8512 broccoli
#FDFDF2 ivory
#890C50 eggplant

*/



/* ------------- TYPEFACES ------------------ */

h1, h2, h3, h4, h5, h6, p, caption {
  color: #3F3F3F;
}

h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
  }

h5, h6, p {
      font-family: 'Noto Sans', sans-serif;
    }


a {
  color: inherit;
}

a:hover {
    color: #6F7B6A;
}

p {
  font-size: 18px;
}

.caption {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14pt;
  font-style: italic;
}

footer p{
  color: white;
  font-size: 1rem;
}

.light-text {
  color: #f2f2f2;
}

li {
  padding-bottom: 1.5rem;
}

ul {
  padding: 3rem 0 0 0;
}

.q {
  quotes: "“" "”" "‘" "’";
}
.q::before {
    content: open-quote;
}
.q::after {
    content: close-quote;
}

/*------------------ NAV-------------------- */

#logo {
  max-height: 46px;
}

.navbar {
  -webkit-box-shadow: 0 2px 4px -1px rgba(89,89,89,0.3);
  -moz-box-shadow: 0 2px 4px -1px rgba(89,89,89,0.3);
  box-shadow: 0 2px 4px -1px rgba(89,89,89,0.3);
}

.navbar li {
  padding-bottom: 0;
}

.navbar ul {
  padding: 0;
}

.navbar-collapse {
  background-color: white;
}

.my-nav-link {
  color: #17201C !important;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .02rem;
  font-size: 1.1rem;
  text-decoration: none;
}

.my-nav-item {
  text-align: left !important;
  padding-left: 1rem;
}

.my-navbar-nav {
  padding-top: 1rem;
}

.navbar-light .navbar-toggler {
  color: #19231E;
  border: none;
  font-size: 1.4rem;
}

#top-nav {
  align-items: center;
  height: 5rem;
}

/*------------------ BUTTONS-------------------- */

.btn-text {
  color: #17201C;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
}

.dark-btn {
  background-color: #515151;
  border: none;
  border-radius: 0px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.dark-btn:hover {
  background-color: #3F3F3F;
  color: white;
  text-decoration: none;
}

#donate-btn-container {
  margin: 3rem 0 8rem 0;
}

#donate-btn {
  border: 1px white solid;
  border-radius: 0px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .02rem;
  font-size: 1.1rem;
  /* margin-bottom: 7px; */
  margin-left: 2rem;
  padding: .4rem 1rem;
  /* font-size: 20px; */
}

#donate-btn:hover {
  background-color: #3F3F3F;
  color: white;
}

#nav-btn {
  border: 1px #3F3F3F solid;
  border-radius: 0px;
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: .02rem;
  font-size: 1.1rem;
  /* margin-bottom: 7px; */
  margin-left: 2rem;
  padding: .4rem 1rem;
  /* font-size: 20px; */
}

#nav-btn:hover {
  background-color: #3F3F3F;
  color: white;
}

#nav-contact {
  border: 2px #56660E solid;
  border-radius: 0px;
  color: #17201C;
  margin-left: 1rem;
  padding: 0.33rem .75rem !important;
}

#nav-contact:hover {
  background-color: #f2f2f2;
  border-color: #1F3D1E;
}

#green-btn {
  background-color: #336431;
  color: white;
  font-size: 20px;
  padding: 0.33rem .75rem;
  text-decoration: none;
}

#green-btn:hover {
  background-color: #1F3D1E;
}

.white-btn {
  background-color: white;
  border: none;
  border-radius: 0px;
  color: #17201C;
  font-size: 20px;
  padding: 0.5rem .9rem;
  text-decoration: none;
}

.white-btn:hover {
  background-color: #EDEEED;
}

#submit-btn {
  background-color: #336431;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: .7rem 1.7rem;
  text-decoration: none;
}

#submit-btn:hover {
  background-color: #1F3D1E;
}

/* ------------------REPEATING STRUCTURE */


.headline {
  color: black;
  letter-spacing: .02rem;
  line-height: 140%;
  text-align: center;
}

.headline-box {
  background-color: #B1B1B1;
  display: inline-block;
  padding: 1rem 0 .5rem 0;
  width: 90%;
  margin: 0 auto;
  display: block;
}

.section-title {
  padding-top: 2rem;
  text-align: center;
 /* margin-left: auto; */
}


/* ------------------HERO */

#hero {
  background-image: url(/images/mobile-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  border-radius: unset;
  min-height: 500px;
  margin-top: 69px;
}

#hero-text-container {
  margin: 5rem 0;
}
/* ------------------MESSAGE FROM THE DIRECTOR */

#director {
  margin: 2rem;
}

#laura {
  width: 100%;
}


/* ------------------BY THE NUMBERS */




#by-the-numbers {
  background: linear-gradient(181.33deg, rgba(137, 12, 84, 0.05) 1.17%, rgba(12, 133, 18, 0) 72.37%);
  padding-top: 3rem;
}

#counties {

}

.map {
  background: linear-gradient(268.65deg, rgba(137, 12, 84, 0.05) 0.08%, rgba(12, 133, 18, 0.03) 93.01%);
  background-image: url(/images/counties.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
}

#demographics-container {
  display: none;
}

#demographics {
  padding: 6rem 0;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

#dot-ocean {
  background-color: #0A6266;
}

#dot-charcoal {
  background-color: #3F3F3F;
}

#dot-lime {
  background-color: #6C9D0E;
}

#dot-broccoli {
  background-color: #0C8512;
}

#dot-eggplant {
  background-color: #890C50;
}

#dot-grey {
  background-color: #B1B1B1;
}

#epafm-expanded {
  padding: 4rem 0;
}

#epafm-photo {
  padding-bottom: 3rem;
}

.key {
  padding-top: 1rem;
}

#map-title {
  padding: 0;
  margin: 0;
  transform: translateY(250%);
  z-index: 1;
}

.mobile-data {
  padding-top: 2rem;
}

#map {
  display: none;
}

#mfm-richmond {
  width: 100%;
}

#pie-container {
  margin: 0 auto;
  padding-top: 4rem;
}

.pie {
  margin: 0 auto;
  display: block;
  padding-top: 3rem;
}

.pie-number {
  color: #f8f8f8;
  font-size: 3rem;
  position: absolute;
  /* top: 70%; */
  left: 39%;
  right: 50%;
  transform: translateY(-150%);
  font-size: 3rem;
}

#insecure {
  color: #3F3F3F;
}


/* ------------------EXPANDING OUR REACH */

.body-text-block {
  margin: 0 auto;
  width: 80%;
}

#compost-hub {
  padding-top: 4rem;
}

#compost-photo {
  width: 100%;
}

#compost-text {
  padding-top: 3rem;
}

#expanding-reach {
  margin-top: 6rem;
}

#food-waste {
  margin-top: 3rem;
}

#ssb {
  margin-top: 3rem;
}



/* ------------------DEEPENING OUR IMPACTS */


#ambassador-quote {
  line-height: 135%;
}

#ambassador {
  margin-top: 8rem;
}

#deepening-impacts {
  background: linear-gradient(333.97deg, rgba(137, 12, 84, 0.05) 5.19%, rgba(10, 98, 102, 0.05) 98.44%);
  margin-top: 4rem;
  padding: 4rem 0 4rem 0;
}

#expanding-volunteers {
  background: linear-gradient(333.97deg, rgba(137, 12, 84, 0.05) 5.19%, rgba(10, 98, 102, 0.05) 98.44%);
  padding: 8rem 0;
}

#next-gen {
  margin-top: 4rem;
}

#quote {
  background: #4F4F4F;
  padding: 5rem 0;
}

#sweet-take {
  padding-top: 3rem;
}

#towanna {
  position: absolute;
  top: 200px;
  z-index: 1;
}

#vrx-train {
  padding-bottom: 4rem;
}



/* ------------------OUR VISION FOR 2020 AND BEYOND */

.extra-large {
  font-size: 4rem;
}

#vision-for-2020 {
  padding-top: 10rem;
}

#vision-1 {
  padding: 8rem 0 10rem 0;
}

#vision-2 {
  padding-bottom: 8rem;
}

#vision-3 {
  padding-bottom: 8rem;
}

/* ------------------OUR PARTNERS */

#logo-grid {
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
}

#partners {
  /* background: linear-gradient(268.65deg, rgba(137, 12, 84, 0.05) 0.08%, rgba(12, 133, 18, 0.03) 93.01%); */
  margin-top: 4rem;
  padding-top: 8rem;
}

.partner-logo {
  padding: 1rem;
}


/* ------------------OUR STAFF + BOARD */

#our-board {
  padding: 8rem 0;
}

#our-staff {
  background: linear-gradient(268.65deg, rgba(137, 12, 84, 0.1) 0.08%, rgba(12, 133, 18, 0.1) 93.01%);
  padding: 8rem 0;
}

.staff-grid {
  width: 85%;
  margin: 0 auto;
}

.first-name {
  font-weight: 700;
  padding-bottom: .2rem;
}

.name-container {
  padding: 3rem 0;
}

.title {
  font-size: 1rem;
  font-style: italic;
  padding: 0;
  margin: 0;
}

/* ------------------DONATE BLOCK */

#donate-container {
  background: #0A6266;
  padding-bottom: 2rem;
}

#donate-title {
  padding: 8rem 0 4rem 0;
}

/* ------------------ FOOTER */
footer {
  background-color: #3F3F3F;
  padding: 2rem 0;
}



/*------------------------------------- MEDIA QUERIES-------------------- */


/* Responsive for Tablets */
@media screen and (min-width: 768px) {
  #demographics-container {
    display: inherit;
  }

  #hero {
    background-image: url(/images/hero.png);
    width: 100%;
  }

  #map {
    display: inherit;
  }
}



/* Responsive for Desktop */
@media screen and (min-width: 992px) {

  /* ------------------NAV */

.my-nav-link {
  background-color: inherit;
  color: black;
  font-weight: normal;
  text-decoration: none;
}

.my-nav-link:hover {
  text-decoration: underline;
}

.my-sec-heading {
  font-size: 32px;
}

.my-navbar-nav {
  padding-top: 0;
  margin-left: auto;
}

#top-nav {
  height: 4.5rem;
}



  /* ------------------HERO */

  #hero {
    background-image: url(/images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    border-radius: unset;
    min-height: 560px;
    margin-top: 69px;
  }

  #hero-text-container {
    margin: 5rem 0;
  }

    /* ------------------MESSAGE FROM THE DIRECTOR */

  #director {
    margin: 8rem;
  }

  #laura {
    width: 50%;
  }


  /* ------------------REPEATING STRUCTURE */


  .headline {
    color: white;
    letter-spacing: .02rem;
    line-height: 140%;
  }

  .headline-box {
    background-color: #3F3F3F;
    display: inline-block;
    padding: 2rem;
    width: 100%;
  }

  .section-title {
    align-self: center;
    margin-left: auto;
  }

  #by-the-numbers {
    background: linear-gradient(181.33deg, rgba(137, 12, 84, 0.05) 1.17%, rgba(12, 133, 18, 0) 72.37%);
    padding-top: 12rem;
  }

  #pie-container {
    margin: 0 auto;
    padding-top: 12rem;
  }

  .pie {
    padding-top: 0;
  }

  #epafm-expanded {
    padding: 13rem 0 9rem 0;
  }

  #epafm-photo {
    padding-bottom: 0;
  }

  .mobile-data {
    padding-top: 0;
  }

  #mfm-richmond {
    width: 75%;
  }

  #number-grid1 {
    padding-bottom: 9rem;
  }

  #number-grid2 {
    padding: 9rem 0;
  }

  #compost-hub {
    padding-top: 8rem;
  }

  #compost-text {
    padding: none;
  }

  #sweet-take {
    padding-top: 0;
  }

  #food-waste {
    margin-top: 12rem;
  }

  #ssb {
    margin-top: 12rem;
  }

  #deepening-impacts {
    margin-top: 8rem;
    padding: 10rem 0 5rem 0;
  }

  #next-gen {
    margin-top: 8rem;
  }

  #vrx-train {
    padding-bottom: 0;
  }

}

@media screen and (min-width: 1400px) {
  #hero {
    min-height: 800px;
  }
}
